# Dependencies
/node_modules
/.pnpm-store

# Build outputs
/.next
/out
/dist

# Environment variables
.env
.env.*

# IDE / tooling
.DS_Store
.history
.vscode
.idea
.turbo
.vercel

# Logs & misc
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*